# Logs
logs
*.log

# Dependency directories
node_modules/

# Environment variables
.env

# Built output
dist/

# IDE files
.vscode/
.idea/

# macOS files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# NPM/Yarn lock files
package-lock.json
yarn.lock
config.json

